MONGO_URL=mongodb://localhost:27017
JWT_SECRET=sua_chave_secreta_aqui
MAL_CLIENT_ID=seu_client_id_do_myanimelist
MAL_CLIENT_SECRET=seu_client_secret_do_myanimelist
MAL_REDIRECT_URI=http://localhost:8000/auth/mal/callback
FRONTEND_URL=http://localhost:5500
